
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
.btn{
    background-color:#4d47ff;
    color:#ffffff;
    border-radius: 5px;
    width: 150px;
    height: 60px;
}
.text{
    color: #4E47FF;
    font-size: 34px;
}
.text2{
    color: #474747;
}
/* navigation style */
nav{
    margin: 25px;
    padding: 30px;
    display: flex;
    justify-content:space-between;
}
header{
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-position: top center;
}
.banner{
    text-align: center;
    padding: 50px 0;
}
/*main style */
/* action section */
.action{
    display: flex;
    padding: 30px;
    justify-content:space-between;
    align-items: space-between;
}
.conteiner{
    
    padding: 20px;
    justify-items: space-between;
}
.action-img{
    border-radius: 48px;
}
.action-text{
    justify-content: center;
    align-items: center;
}
/* productive style */

.caption{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.productive-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.productive-title{
    color: #4E47FF;
    font-style: bold;
    font-size: 80px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.productive-data{
    color: #474747;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
/* review style */
.review-column{
    display: flex;
    justify-content: space-between;
}
.images{
    display: flex;
    height: 20px;
    width: 20px;
    text-align: left;
 }
.review-text{
    text-align: left;
}
.review-title{
    font-size: 24px;
    font-weight: bold;
    color: #181818;
    padding: 0px;
    margin: 0px;
}
.review-data{
    font-size: 18px;
    color: #474747;
    padding: 0px;
    margin-top: 0px;
}
.user-image{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Date{
    padding: 0px;
    margin: 0px;
    color: #b3b3b3;
}