
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
.btn{
    background-color:#4d47ff;
    color:#ffffff;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}
.text{
    color: #4E47FF;
    font-size: 34px;
}
.text2{
    color: #474747;
}
.align{
    text-align: center;
}
/* navigation style */
nav{
    margin: 25px;
    padding: 30px;
    display: flex;
    justify-content:space-between;
}
header{
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-position: top center;
}
.banner{
    text-align: center;
    padding: 50px 0;
}
/*body style */
body{
    margin: 50px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: #F5F5F5;
}
/*main style */
/* action section */
.action{
    display: flex;
    padding: 30px;
    justify-content:space-between;
    align-items: space-between;
}
.conteiner{
    
    padding: 20px;
    justify-items: space-between;
}
.action-img{
    border-radius: 48px;
}
.action-text{
    justify-content: center;
    align-items: center;
}
/* productive style */
.productive{
    background-color: rgba(255, 71, 212, 0.1);
    padding: 50px 0;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
   
}
.caption{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.productive-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.productive-title{
    color: #4E47FF;
    font-style: bold;
    font-size: 80px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.productive-data{
    color: #474747;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
/* review style */
.review-column{
    display: flex;
    justify-content: space-between;
    padding : 20px;
    margin: 0%;
}
.images{
    display: flex;
    height: 20px;
    width: 20px;
    text-align: left;
 }
.review-text{
    text-align: left;
    padding: 20px;
    margin: 0px;
}
.review-title{
    font-size: 24px;
    font-weight: bold;
    color: #181818;
    padding: 0px;
    margin: 0px;
}
.review-data{
    font-size: 18px;
    color: #474747;
    padding: 0px;
    margin-top: 0px;
}
.user-image{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-user{
    display: flex;
    justify-content:first baseline;
    padding: 10px;
    margin-left: 0px;
}
.user-name{
    color: #757575;
    padding: 0px;
    margin: 0px;
}
.Date{
    padding:10px 0px;
    margin: 0px;
    color: #b3b3b3;
}
/* extra style */

.extra{
    align-content: center;
    padding: 50px 0;
    text-align: center;
    
}
.extra-title{
    font-size: 50px;
    font-weight: bold;
    color: #181818;
}
.extra-data{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
.extra-img{
    width: 840px;
    height: 354px;
    border-radius: 48px;
}
/* letter style */
.letter{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
}
.Letter-title{
    font-size: 97px;
    font-weight: bold;
    color: #181818;
}
.input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    font-size: 16px;
}
.textarea{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    font-size: 16px;
}
/* footer style */
footer{
    background-color: #F5F5F5;
    padding: 50px 0;
    text-align: center;
}
.footer-title{
    font-size: 100px;
    font-weight: bold;
    color: #4d47ff;
    margin-bottom: 20px;
}
.footer-text{
    color: #757575;
    font-size: 16px;
    margin: 0;
}
footer ul{
    display:flex;
    gap: 24px;
    justify-content: center;
}
footer ul li{
    list-style: none;
    font-size: 16px;
    color: #757575;
}
footer ul li a{
    text-decoration: none;
    color: #757575;
}